* {
    font-family: 'adwa-assalaf';
    font-size: larger;
    text-align: center;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #e6f2ff;
}

h1 {
    margin: 0;
}

button {
    all: unset;
    margin: 25px;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 12px;
    padding: 0 5px;
    font-size: smaller;
}

button:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input,
textarea {
    word-break: break-word;
    width: 1000px;
    border-radius: 12px;
    text-align: right;
    padding: 7px 12px;
    border: 1px solid #dadce0;

}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

div#display {
    font-size: smaller;
}


textarea {
    max-height: 60vh;
    min-height: 60vh;
    max-width: 80vw;
}